<h2>Edit bookmark</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <input name="name" type="text" required [minlength]="3" formControlName="nev">
  <!--<div *ngIf="name.invalid">-->
    <!--ERROR:-->
    <!--<div *ngIf="name.errors.minlength">-->
      <!--Minimum length is {{name.errors.minlength.requiredLength | json}}-->
    <!--</div>-->
  <!--</div>-->
  <input name="url" type="text" formControlName="url">
  <select name="color" formControlName="szin">
    <option value="red">RED</option>
    <option value="green">GREEN</option>
    <option value="blue">BLUE</option>
  </select>
  <input type="submit" value="Save">
</form>
