<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="blue">
    Welcome to {{ title }}!
  </h1>
  <button (click)="increment()">INCREMENT</button>
  mycount: {{mycount}}
  <button (click)="decrement()">DECREMENT</button>
  <app-counter [count]="mycount" (counterModified)="onCounterChanged($event)"></app-counter>

  <app-edit-bookmark [bookmark]="bookmark"
                     (bookmarkChanged)="onBookmarkChanged($event)"></app-edit-bookmark>
</div>

